apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "66.2.2"

      # version: "58.x"

      sourceRef:
        kind: HelmRepository
        name: kube-prometheus-stack
        namespace: monitoring
      interval: 12h
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
  driftDetection:
    mode: enabled
    ignore:
      # Ignore "validated" annotation which is not inserted during install
      - paths: ["/metadata/annotations/prometheus-operator-validated"]
        target:
          kind: PrometheusRule
  values:
    prometheus:
      prometheusSpec:
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: synology-iscsi
              accessModes: [ "ReadWriteOnce" ]
              resources:
                requests:
                  storage: 10Gi

    alertmanager:
      alertmanagerSpec:
        storage:
          volumeClaimTemplate:
            spec:
              storageClassName: synology-iscsi
              accessModes: [ "ReadWriteOnce" ]
              resources:
                requests:
                  storage: 5Gi

    grafana:
      persistence:
        enabled: true
        storageClassName: synology-iscsi
        accessModes: [ "ReadWriteOnce" ]
        size: 5Gi
      adminPassword: ninpo99
      ingress:
        ## If true, Grafana Ingress will be created
        ##
        enabled: true

        ## IngressClassName for Grafana Ingress.
        ## Should be provided if Ingress is enable.
        ##
        ingressClassName: traefik


        ## Hostnames.
        ## Must be provided if Ingress is enable.
        ##
        hosts:
          - grafana.barina.tech

        ## Path for grafana ingress
        path: /

        ## TLS configuration for grafana Ingress
        ## Secret must be manually created in the namespace
        ##
        tls:
          - secretName: grafana-tls-secret
            hosts:
            - grafana.barina.tech    
